.slider {
  width: 100%;
  margin-top: 32px;

  @media (max-width: 767px) {
    margin-top: 16px;
  }

  & > .sliderTitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 16px;
    color: #242424;
    text-transform: capitalize;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  & > .sliderListWrapper {
    position: relative;
    width: 100%;

    & > .arrow {
      position: absolute;
      top: 50%;
      z-index: 1;
      width: 32px;
      height: 32px;
      background-color: #fff;
      padding: 6px;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);

      &.left {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &.right {
        transform: translate(50%, -50%) rotate(-90deg);
        right: 0;
      }
    }

    & > .sliderList {
      display: flex;
      width: 100%;
      overflow: hidden;
      overflow-x: auto;
      overflow-y: hidden;

      & > .sliderItem {
        margin-right: 16px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
