.searchView {
  width: 100%;
  max-width: 1364px;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: 767px) {
    padding: 0 16px;
  }

  & > .search {
    margin-top: 16px;
  }

  & > .results {
    margin-top: 32px;

    & > .result {
      display: flex;
      height: 141px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0px 2px rgb(0 0 0 / 25%);
      margin-bottom: 16px;

      & > .poster {
        width: 94px;
        height: 141px;
        border-radius: 10px;
      }

      & > .resultInfo {
        flex-grow: 1;
        padding: 16px;

        & > .title {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 8px;
        }

        & > .row {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          font-size: 13px;
          font-weight: 600;
          color: #555;

          & > .date {
          }

          & > .originalTitle {
            margin-left: 0.5ch;
          }
        }

        & > .overview {
          font-size: 16px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
